.entry
  - if current_user && current_user.own?(entry.contest)
    .user
      = link_to entry.user.name, contest_entry_path(entry.contest, entry)
    .url
      = entry.data_set_url
    %div.rating{id: "entry-rating-#{entry.id}"}
      = entry_rating(entry)
    .pick-winner
      = link_to "Pick as winner", pick_winning_contest_entry_path(entry.contest, entry), confirm: "Are you sure?"
    .remove
      = link_to "Remove this entry", remove_contest_entry_path(entry.contest, entry), method: :delete, confirm: "Are you sure?"
    .feedbacks
      = pluralize(entry.feedbacks.count, "feedback")
  - else
    .user= entry.user.name

