%h1 Listing entries

%table
  %tr
    %th Contest
    %th User
    %th Description
    %th Data set url
    %th
    %th
    %th

  - @entries.each do |entry|
    %tr
      %td= entry.contest_id
      %td= entry.user_id
      %td= entry.description
      %td= entry.data_set_url
      %td= link_to 'Show', entry
      %td= link_to 'Edit', edit_entry_path(entry)
      %td= link_to 'Destroy', entry, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Entry', new_entry_path
