%p#notice= notice

%p
  %b Contest:
  = @entry.contest_id
%p
  %b User:
  = @entry.user_id
%p
  %b Description:
  = @entry.description
%p
  %b Data set url:
  = @entry.data_set_url

= link_to 'Edit', edit_entry_path(@entry)
\|
= link_to 'Back', entries_path
