%p#notice= notice

%p
  %b Contest:
  = link_to(@entry.contest.name, @entry.contest)
%p
  %b User:
  = @entry.user.name
%p
  %b Description:
  = @entry.description
%p
  %b Data set url:
  = @entry.data_set_url

= link_to 'Edit', edit_contest_entry_path(@contest, @entry)
\|
= link_to 'Back', contest_entries_path(@contest)

%h2 Feedbacks
%p
  = link_to "Add feedback", new_contest_entry_feedback_path(@contest, @entry)

= render partial: "feedbacks/feedback", collection: @entry.feedbacks
