= form_for @contest do |f|
  - if @contest.errors.any?
    #error_explanation
      %h2= "#{pluralize(@contest.errors.count, "error")} prohibited this contest from being saved:"
      %ul
        - @contest.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :description
    = f.text_area :description
  .field
    = f.label :deadline
    = f.datetime_select :deadline
  - if @contest.contestants.count > 0
    .field
      = f.label :winner
      = f.select 'winner_id', options_from_collection_for_select(@contest.contestants, :id, :email)
  .field
    = f.label :bounty
    - if @contest.new_record?
      = f.number_field :bounty
    - else
      = f.number_field :bounty, :disabled => true
  .actions
    = f.submit 'Save'
