%h1 Listing contests

%table
  %tr
    %th Name
    %th Description
    %th Deadline
    %th Winner
    %th Bounty
    %th

  - @contests.each do |contest|
    %tr
      %td= link_to contest.name, contest
      %td= contest.description
      %td= contest.deadline
      %td= contest.winner.name if contest.winner
      %td= contest.bounty
      %td
        - if current_user.present?
          - if current_user == contest.user
            = link_to 'Edit', edit_contest_path(contest)
            = link_to 'Destroy', contest, :method => :delete, :data => { :confirm => 'Are you sure?' }
          - else
            - if current_user.following?(contest)
              = link_to 'Unfollow', contest_following_path(current_user.contest_following_for(contest)), method: :delete, :data => { :confirm => 'Are you sure?' }
            - else
              = link_to 'Follow', contest_followings_path(contest_following: { contest_id: contest.id }), method: :post
%br
= link_to 'New Contest', new_contest_path
