%h1 Listing contests

%table
  %tr
    %th User
    %th Name
    %th Description
    %th Deadline
    %th Winner
    %th Bounty
    %th

  - @contests.each do |contest|
    %tr
      %td= contest.user.name
      %td= contest.name
      %td= contest.description
      %td= contest.deadline
      %td= contest.winner.name if contest.winner
      %td= contest.bounty
      %td
        = link_to 'Show', contest
        - if current_user == contest.user
          = link_to 'Edit', edit_contest_path(contest)
          = link_to 'Destroy', contest, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Contest', new_contest_path
