- if current_user.present?
  %p Welcome "#{current_user.email}"
  = link_to 'Creditcards', credit_cards_path
  = link_to 'Bank accounts', bank_accounts_path
  = link_to 'Contests', contests_path
  = link_to 'Contest followings', contest_followings_path
  = link_to 'Pending contests', pending_contests_path
  = link_to 'Past contests', past_contests_path
  = link_to 'Logout', destroy_user_session_path, method: :delete
- else
  = link_to 'Login', new_user_session_path
