%h1 Listing feedbacks

%table
  %tr
    %th Entry
    %th Content
    %th
    %th
    %th

  - @feedbacks.each do |feedback|
    %tr
      %td= feedback.entry_id
      %td= feedback.content
      %td= link_to 'Show', contest_entry_feedback_path(@contest, @entry, feedback)
      %td= link_to 'Edit', edit_contest_entry_feedback_path(@contest, @entry, feedback)
      %td= link_to 'Destroy', contest_entry_feedback_path(@contest, @entry, feedback), :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Feedback', new_contest_entry_feedback_path(@contest, @entry)
